* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ingredientes {
  margin: 0 auto;
  width: 300px;
  border: 2px solid darkorchid;
}

.lista {
  list-style: none;
}

.botana {
  padding: 8px 24px;
}

.bg-ligthblue {
  background-color: lightblue;
}

.bg-ligthpink {
  background-color: lightpink;
}